# General ignores
.DS_Store
.idea
*.iml
*.log
*.tgz
node_modules

# Composer
vendor

# Drupal VM
.vagrant
vm
dashboard
html

# Aquifer.
build/*
!build/.gitkeep
.aquifer/node_modules

modules/README.txt
themes/README.txt
modules/contrib
themes/contrib

files/*
!files/.gitkeep
!files/.htaccess
!files/migration

# Settings; allow default local configuration.
settings.local.php
!local/settings.local.php
settings.secret.php
!local/settings.secret.php

